
<div id="tag_cloud">
  <% tag_cloud Question.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>


<%= link_to "new question" ,new_question_path %>

<% if @questions.any? %>
   <% @questions.each do |question| %>
        <h4><%= question.user.name %></h4>
        <p><%= link_to question.title, question_path(question) %>
        <br /><br /><%= raw(question.code) %>&nbsp&nbsp<%= link_to "edit", edit_question_path(question)%>&nbsp<%= link_to "delete", question_path(question), data: {confirm: 'delete question?', method: :delete}%></p>
        <p>Tags: <%= raw(question.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></p>
     <% end %>
     <% else %>
     <h3>AAAiiii!!,hakuna questions bado!!</h3>
<% end %>
